body {
  background-color: #ffaed4;
}

.slide {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

button {
  background-color: aliceblue;
  color: #ffaed4;
  border: none;
}